$color-text: #8fa4b3;
$color-blue: rgba(0,161,255,1);
$color-background: #11131d;
$color-highlight: #236700;

// reset
figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
button {
    &:hover {
        cursor:pointer;
    }
}
code {
    color: #fff;
    background-color: $color-highlight;
    padding:.4rem .8rem;
}
.fun {
    &__main {
        display: flex;
        flex-direction: column;
        background-color: $color-background;
    }
    &__content {
        padding: 8rem 0;
        .text {
            grid-column: 4 / span 6;
            max-width:unset;
            color: $color-text;
        }
    }
    &__list {
        padding-left: 1.6rem;
        li {
            position: relative;
            &:before {
                position: absolute;
                top: .9rem;
                left: -1.6rem;
                width:.6rem;
                height: .6rem;
                border-radius: 50%;
                background-color: $color-blue;
                content: "";
            }
        }
    }
}
.product {
    &__page {
        display: grid;
        grid-template-columns: 5fr 1fr;
        column-gap: 4rem;
        padding-left: 4rem;
    }
    &__display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.title__page {
    color: $color-text;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}
.text__intro {
    color: $color-text;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}
.text__standard {
    max-width: 60rem;
    color: $color-text;
    font-size:1.6rem;
    font-weight:400;
    text-align:center;

    a {
        color: $color-text;
        display: inline-block;
    }
}
.product {
    &__list {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        row-gap: 5.6rem;
    }
    &__item {
        color: $color-text;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size:1.6rem;
        margin-bottom:0;
    }
    &__desc {    
        font-size:1.4rem;
        margin-top:.8rem;
        margin-bottom:.8rem;
    }
    &__price {
        font-size: 1.4rem;
        margin:0;
    }
    &__add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $color-text;
        font-weight: 600;
        line-height: 1;
        padding: 1.2rem 2.4rem;
        background-color:transparent;
        border:1px solid $color-text;

        &:hover {
            cursor: pointer;
            background-color:transparent;
            border:1px dashed $color-blue;
        }

        svg {
            fill: $color-text;
            height: 2rem;
            margin-right:.8rem;
        }
    }
}
.button {
    &__group {
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    &__purchase {
        color: $color-text;
        line-height: 2.8rem;
        font-weight: 600;
        border:1px solid $color-text;
        padding:0 1.2rem;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            background-color:transparent;
            border:1px dashed $color-blue;
        }
    }
}

// cart
.cart { 
    &__sidebar {
        display:flex;
        flex-direction:column;
        padding: 2.4rem;
        background-color: rgba(0,0,0,0);
        transition: all .3s ease-out;
        &:hover {
            background-color: rgba(0,0,0,1);
        }
    }
    &__item {
        color: $color-text;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        p {
            margin:.4rem;
        }
    }
    &__image {
    }   
    &__title {
        font-size:1.4rem;
        margin:.8rem 0;
    }
    &__price {
        font-size:1.4rem;
    }
    &__actions {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:.8rem;
    }
    &__qty {
        max-width: 4rem;
        color: #fff;
        border:1px solid $color-text;
        background-color: transparent;
        padding: 0 .8rem;

        &:hover {
            cursor: pointer;
            background-color:transparent;
            border:1px dashed $color-blue;
        }
    }
    &__remove {
        color: $color-text;
        line-height: 2.8rem;
        font-weight: 600;
        border:1px solid $color-text;
        padding:0 1.2rem;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            background-color:transparent;
            border:1px dashed $color-blue;
        }
    }
}

@media (max-width: 1800px) {
    .product__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1200px) {
    .product__list {
        grid-template-columns: 1fr;
    }
    .fun__content {
        .text {
            grid-column: 2 / span 10;
        }
    }
}
