<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="../../global/styles/css/global.css" rel="stylesheet">       
    <link href="../../global/styles/css/prism.css" rel="stylesheet">       
    <link href="./local.css" rel="stylesheet">   
    <script src="../../global/GlobalHeader.js" defer></script>
    <script src="../../global/js/prism.js" defer></script>
    <script src="./side-drawer.js" defer></script>
    <title>
        Side Drawer Expand Collapse || Martin Duggan, Product Designer
    </title>
</head>
<body class="fun-body-grid">
    <header class="fun-header">
        <fun-nav></fun-nav>
    </header>
    <main class="fun-main" role="main">
		<section class="product__page">
			<button>
				expand
			</button>
		</section>
        <article class="fun-content">
			<div class="text">
			    <h2 class="title">Side Drawer that expands and collapses</h2>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Cookies</th>
							<th>Local Storage</th>
							<th>Session Storage</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Capacity</td>
							<td>4kb</td>
							<td>10mb</td>
							<td>5mb</td>
						</tr>
						<tr>
							<td>Accessible from</td> 
							<td>Any window</td>
							<td>Any window</td>
							<td>Same tab</td>
						</tr>
						<tr>
							<td>Expires</td>
							<td>Manually set</td>
							<td>Never</td>
							<td>On tab close</td>
						</tr>
						<tr>
							<td>Storage location</td>
							<td>Browser and server</td>
							<td>Browser only</td>
							<td>Browser only</td>
						</tr>
						<tr>
							<td>Sent with requests</td>
							<td>Yes</td>
							<td>No</td>
							<td>No</td>
						</tr>
					</tbody>
				</table>
				<p>This is my first-pass at exploring  <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">Web Components</a>. Multiple instances of the tooltip component can be used with unique data passed in via props/attributes.</p>
				<ul>
					<li>list of functions created</li>
					<li>
						<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:host()">:host()</a>
					</li>
				</ul>
			</div>
        </article>

        <section class="fun-code-block">
            <pre class="language-js" rel="JS" >
                <code>
                </code>
            </pre>
        </section>
    </main>
</body>
</html>	