:root {
  --colorDark: #2a0040;
  --colorLime: #8ce867;
}

.fun__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.fun__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  color: #fff;
  background-color: var(--colorDark);
}

.fun__content .inner {
  width: 100%;
  max-width: 60rem;
}

.fun__content .title {
  font-size: 6rem;
  font-weight: 300;
}

.fun__content a {
  display: inline-block;
  color: var(--colorLime);
  position: relative;
  text-decoration: none;
}

.fun__content a:before {
  position: absolute;
  left: 0;
  bottom: -.4rem;
  height: 4px;
  width: 100%;
  background-color: var(--colorLime);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  content: '';
}

.fun__content a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.fun__code-block {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
}

.ux-card-list {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.ux-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--colorLime);
  padding: .4rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

.ux-card-inner {
  background-color: var(--colorDark);
  border-radius: 1.6rem;
  overflow: hidden;
}

.ux-card-inner .label {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border-width: 0 1px 1px 0;
  border-style: dashed;
  border-color: var(--colorLime);
  padding: .8rem 1.6rem;
  display: inline-block;
  border-radius: 0 0 .8rem 0;
}

.ux-card-inner .card-title {
  font-size: 2.8rem;
  font-weight: 700;
  border-bottom: 1px dashed var(--colorLime);
  padding: 2.4rem;
}

.ux-card-inner .card-details {
  font-size: 2.4rem;
  padding: 4rem 2.4rem;
}

@media (max-width: 1400px) {
  .fun__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
  .fun__content .title {
    font-size: 4rem;
    font-weight: 300;
  }
  .fun__code-block {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
  }
}

@media (max-width: 720px) {
  .fun__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
  .fun__content .title {
    font-size: 4rem;
    font-weight: 300;
  }
  .fun__code-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
}
/*# sourceMappingURL=local.css.map */