<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="../../global/styles/css/global.css" rel="stylesheet">       
    <link href="../../global/styles/css/prism.css" rel="stylesheet">       
    <link href="./local.css" rel="stylesheet">   
    <script src="../../global/GlobalHeader.js" defer></script>
    <script src="../../global/js/prism.js" defer></script>
    <script src="./dark-mode.js" defer></script>
    <title>
        Dark Mode Toggle || Martin Duggan, Product Designer
    </title>
</head>
<body class="fun-body-grid">
    <header class="fun-header">
        <fun-nav></fun-nav>
    </header>
    <main class="fun-main" role="main">
		<section class="product__page">
			<button 
				id="dark-mode-toggle" 
				class="btn__toggle" 
				aria-label="Toggle dark mode">
				Toggle
			</button>
		</section>
        <article class="fun-content">
			<div class="text">
			    <h2 class="title">Dark mode toggle</h2>
				<p>This is my first-pass at exploring  <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">Web Components</a>. Multiple instances of the tooltip component can be used with unique data passed in via props/attributes.</p>
				<ul>
					<li>list of functions created</li>
					<li>
						<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:host()">:host()</a>
					</li>
				</ul>
			</div>
        </article>

        <section class="fun-code-block">
            <pre class="language-js" rel="JS" >
                <code>
                </code>
            </pre>
        </section>
    </main>
</body>
</html>	