
.content-block {
    grid-column: 1 / span 8;
}

.fun-code-block {
    grid-column: 9 / span 4;
}

.title {
    font-size: 2.8rem;
    font-weight: 300;
}
.subtitle {
    font-size: 2.4rem;
    font-weight: 300;
}

.image-grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 6vh);
    grid-gap:0px;
    height:80vh;
    overflow: hidden;
    background-color:#14193a;
    padding: 24px;  

    fun-tooltip {
        position: absolute;
    }

    figure {
        overflow: hidden;
        position:relative;
    }

    .chicago-L {
        // grid-row-start: 1;
        // grid-column-start: 1;
        // grid-row-end: 7;
        // grid-column-end: 8;
        grid-area: 1 / 1 / 7 / 8;
    }
    .chicago-bridges {  
        grid-area: 7 / 2 / 11 / 7;
    }
    .chicago-towers {  
        grid-area: 4 / 7 / 13 / 13;

        fun-tooltip {top:20%;}
    }
    .chicago-nbc {  
        grid-area: 1 / 6 / 5 / 11;
    }
    // .chicago05 {  
    //     grid-area: 9 / 1 / 123 / 5;
    // }
}

.content-block {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:8rem;

    .text {
        font-size:1.6rem;
        width:100%;
        max-width: 60rem;
    }

}


@media (max-width: 1700px) {
    .fun-main {
        grid-template-columns: 1fr;
    }
}